@import './variables';
@import './blog.scss';
@import './contact.scss';
@import './menu.scss';
@import './footer.scss';
@import './home.scss';

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,200&family=Shadows+Into+Light+Two&display=swap');



*{
    font-family: 'Montserrat';
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}








